body{
	font-family:Arial, sans-serif;
	padding:0;
	margin:0;
	color:#2a2a2a;
}
.clearfix:after{
	content:'';
	display: table;
	width: 100%;
	clear:both;
}
div{
	box-sizing:border-box;
	
}
header{
	background:url(../img/first-bg.jpg) no-repeat center top / cover;
	/*height:100vh; - высота шапка на весь экран в независимости от разрешения монитора*/
	padding-bottom:160px;
}
.container{
	width:930px;
	margin:0 auto;
}
.logo{
	margin-top:41px;
	float:left;
}
nav{
	float:right;
	margin-top:45px;
}
.menu{
	padding: 0;
	margin: 0;
	display: block;
}
.menu li{
	float:left;
	display: block;
	margin-right:41px;
}
.menu a{
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:14px;
}
.titles__first{
	color:#fff;
	font-size:40px;
	text-transform:uppercase;
	text-align:center;
	margin-top:180px;
}
h1{
	font-size:75px;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	margin: 15px;
}
.button{
	background:#fed136;
	color:#84733f;
	border-radius:3px;
	display: block;
	width:240px;
	padding:20px 0;
	margin:0 auto;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	font-weight:bold;
	font-size:18px;
	margin-top:50px;
}
.title{
	padding-top:115px;
}
.title h2{
	font-size: 40px;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	margin:0;
}
.title p{
	color:#777777;
	text-align:center;
	font-size:16px;
	margin-top:5px;
}
.services{
	margin-top:80px;
}
.services__item{
	width: 270px;
	float:left;
	text-align:center;
}
.services__item h3{
	font-size:18px;
	margin-bottom:5px;
}
.services__item p{
	color:#777777;
	font-size:14px;
	line-height:1.55em;
}

.services__item:last-child{
	float:right;
}
.services__item:nth-child(2){
	margin-left:60px;
}

#services{
	padding-bottom:120px;
}
#portfolio{
	background:#f7f7f7;
	padding-bottom:120px;
}
.works{
	margin-top: 70px;
}
.works img:nth-child(2){
	margin-left:29px;
}
.works img{
	float:left;
}
.works img:last-child{
	float:right;
}

#About_Us{
	
	}
.history__July{
	float:right;
	text-align:right;
	width:320px;
	
}
.text_1{
	display:inline-block;
	vertical-align:middle;
	margin-right:40px;
}
.history__January{
	text-align:center;
	width:300px;
	clear:both;
}
.history__December{
	text-align:center;
	width:300px;
	clear:both;
}