.button{
  @include button();
  &_size{
    &_big{
      padding: rem(23px 77px);
    }
  }
  &_theme{
    &_white{
      background-color: $white;
      color: $black;
      &:focus, 
      &:hover{
        background-color: darken($white, 10%);
        color: $black;
      }
    }
  }
}