.banner {
	background: url(../img/header/header-bg.jpg) no-repeat center top;
	background-size: cover;
	// background-attachment: fixed;
	min-height: rem(510px);
	// .banner__info

	&__info {
		min-height: rem(510px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	// .banner__title

	&__title {
		margin-bottom: rem(15px);
		padding-bottom: rem(10px);

		position: relative;
		
		font-family: $font;
		font-weight: 700;
		line-height: 1.2;
		font-size: rem(55px);

		color: $white;

		&::after{
			content: '';
			position: absolute;
			display: block;

			bottom: 0;
			left: 50%;
			transform: translateX(-50%);

			width: rem(120px);
			height: rem(2px);

			background-color: $white;
		}
	}

	// .banner__subtitle

	&__subtitle {
		margin-bottom: rem(40px);

		font-family: $font;
		font-weight: 400;
		line-height: 1.2;
		font-size: rem(24px);

		color: $white;
	}

	// .banner__button

	&__button {
	}
}
