


// .bg-lifecel {
//     width: 26px; height: 26px;
//     background: url('css_sprites.png') -57px -10px;
// }
// .bg-kyivstar {
// 	width: 27px; height: 27px;
// 	background: url('css_sprites.png') -10px -10px;
// }
// .bg-mts {
// 	width: 25px; height: 25px;
// 	background: url('css_sprites.png') -10px -57px;
// }