.header {
}
.header-top {
		background: $white;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, .1);

		padding-top: rem(15px );
		// .header-top__wrapper

		&__wrapper {
			display: flex;
			justify-content: space-between;
		}

		// .header-top__logo

		&__logo {
			
		}

		// .header-top__info-company

		&__info-company {
		}

		// .header-top__user-profile

		&__user-profile {
		}

		// .header-top__contacts

		&__contacts {
		}

		// .header-top__basket

		&__basket {
		}
}
.container {
}
.logo {
	// border: 1px solid red;
	width: rem(258px);
		// .logo__link

		&__link {
		}

		// .logo__img

		&__img {
		}
}
.info-company {
	// border: 1px solid red;
		max-width: rem(375px);
		text-align: center;
		// .info-company__title

		&__title {
			margin-bottom: rem(10px);

			font-family: $font;
			line-height: 1.2;
			font-size: rem(16px);
			font-weight: 400;
			color: $primary-color;
		}

		// .info-company__work-schedule

		&__work-schedule {
			font-family: $font;
			line-height: 1.2;
			font-size: rem(14px);
			font-weight: 700;
			color: $primary-color;
		}
}
.user-profile {
	// border: 1px solid red;
		max-width: rem(140px);
		// .user-profile__icon

		&__icon {
			vertical-align: middle;
			margin-right: rem(10px);

			width: rem(12px);
			height: rem(13px);
		} 

		// .user-profile__link

		&__link {
		}
}
.contacts {
	// border: 1px solid red;
		max-width: rem(250px);

		&__top {
			text-align: right;
			margin-bottom: rem(20px);
		}

		// .contacts__link

		&__link {
			text-align: center;
		}

		// .contacts__bottom

		&__bottom {
		}

		// .contacts__icon

		&__icon {
		}

		// .contacts__icon-facebook

		&__icon-facebook {

			vertical-align: bottom;
			width: rem(20px);
			height: rem(20px);
		}

		// .contacts__dropdown

		&__dropdown {
		}
}
.dropdown-phone {
	position: relative;

		// .dropdown-phone__item

		&__item {
		}

		// .dropdown-phone__link

		&__link {
			margin-right: rem(5px);

			font-family: $font;
			font-size: rem(16px);
			font-weight: 700;
			line-height: 1.2;
			color: $primary-color;
		}

		// .dropdown-phone__icon-phone

		&__icon-phone {
			margin-right: rem(5px);
			margin-left: rem(20px);

			vertical-align: bottom;
			width: rem(20px);
			height: rem(20px);
		}

		&__button{
			display: inline-block;
			outline: none;

			padding: 0;

			border: 0;
			background-color: transparent;

			cursor: pointer;
		}
		// .dropdown-phone__icon-arrow

		&__icon-arrow {
			vertical-align: bottom;
			
			width: rem(20px);
			height: rem(20px);
		}
}
.submenu-phone {
		display: none;
		position: absolute;
		top: rem(15px);
		right: rem(-18px);

		margin-top: rem(25px);
		padding: rem(30px);

		max-width: rem(219px);
		width: 100%;
		background-color: $white;
		z-index: 9;
		// .submenu-phone__item

		&::before{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			top: rem(-12px);
			right: 0;
      border-left: 28px solid transparent;
      border-right: 28px solid transparent;
			border-bottom: 28px solid $white;
			z-index: 9;
		}

		&__item {
			position: relative;
			&:not(:last-child){
				margin-bottom: rem(20px);
			}
		}
		// .submenu-phone__item--mts
		&__item--mts{
			&::before{
				content: '';
				position: absolute;
				top: rem(-2px);
				left: 0;
				width: rem(30px);
				height: rem(30px);
				background: url('../img/icons/png/sprites.png') no-repeat -10px -57px;
			}

		}
		// .submenu-phone__item--kyivstar
		&__item--kyivstar{
			&::before{
				content: '';
				position: absolute;
				top: rem(-2px);
				left: 0;
				width: rem(27px);
				height: rem(27px);
				background: url('../img/icons/png/sprites.png') no-repeat -10px -10px;
			}
		}
		// .submenu-phone__item--lifecell
		&__item--lifecell{
			&::before{
				content: '';
				position: absolute;
				top: rem(-2px);
				left: 0;
				width: rem(26px);
				height: rem(26px);
				background: url('../img/icons/png/sprites.png') no-repeat -57px -10px;
			}
		}

		// .submenu-phone__link

		&__link {
			padding-left: rem(36px);
		}
}
.basket {
		// border: 1px solid red;
		position: relative;
		max-width: rem(50px);
		// .basket__count

		&__count {
			position: absolute;
			right: rem(-14px);
			top: rem(-7px);
			display: inline-block;

			text-align: center;
			line-height: 2;

			width: rem(30px);
			height: rem(30px);
			border-radius: 50%;
			background-color: $accent-color;

			font-family: $font;
			font-weight: 700;
			font-size: rem(14px);
			color: $white;
		}
		// .basket__button

		// .basket__icon

		&__icon {
			width: rem(44px);
			height: rem(44px);
		}
}
.header-bottom {

		// .header-bottom__main-nav

		&__main-nav {
		}
}
.main-nav {

		// .main-nav__mobile-menu

		&__mobile-menu {
		}

		// .main-nav__wrapper

		&__wrapper {
			padding: rem(17px 0);

			display: flex;
			justify-content: space-between;
		}

		// .main-nav__list

		&__list {
		}
}
.mobile-menu {
		display: none;
		// .mobile-menu__line

		&__line {
		}
}
.site-list {
		display: flex;
		// .site-list__item

		&__item{
			position: relative;
			padding-right: rem(30px);
			margin-right: rem(30px);

			&::after{
				position: absolute;
				content: '';
				height: rem(13px);
				width: rem(1px);
				background-color: $line-color;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}
		}
		&__item:not(:last-child) {
			padding-right: 40px;
		}

		// .site-list__link

		&__link {
			padding: rem(15px 0);

			font-family: $font;
			font-weight: 700;
			font-size: rem(16px);
			line-height: 1.2;
			color: $primary-color;
			border-top: 1px solid transparent;

			text-transform: uppercase;
			
			transition: .4s all ease-in;
			
			&:hover,
			&:focus,
			&:active{
				border-top: 1px solid $accent-color;
				color: $accent-color;
			}
		}
}
.search-list {

		// .search-list__item

		&__item {
		}

		// .search-list__link

		&__link {
		}

		// .search-list__icon

		&__icon {
			width: rem(18px);
			height: rem(18px)
		}
}
