// font-weight helper:

// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black

// @import "_mixins/font-face";

@mixin font($f-name, $f-style, $f-weight, $f-url){
	@font-face{
		font-family: $f-name;
		font-style: $f-style;
		font-weight: $f-weight;
		src: url($f-url) format('woff2');
		src: url($f-url) format('woff');
		src: url($f-url) format('ttf');
	}
}

// @import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&subset=cyrillic');

@include font('Roboto', light, 300, '../fonts/RobotoLight/RobotoLight.woff2');
@include font('Roboto', normal, 400, '../fonts/RobotoRegular/RobotoRegular.woff2');
@include font('Roboto', bold, 700, '../fonts/RobotoBold/RobotoBold.woff2');