.footer {
	background-color: $primary-color;
	padding: rem(40px 0);
	// .footer__wrapper

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	// .footer__logo

	&__logo {
	}
	// .footer__copyrigth

	&__copyright{
		margin-top: rem(40px);
		
		font-family: $font;
		font-weight: 400;
		line-height: 1.8;
		font-size: 12px;
		
		color: $white;
		
	}

	// .footer__callback

	&__callback {
		
	}
}
