// < 1200px
@media (max-width: $bp-extra-large) {
	.menu{
		&__link{
			padding: rem(23px 55px);
		}
	}
}
// > 770px
@media (min-width: 770px) { 
	.menu{
		&__link{
			padding: rem(23px 20px);
		}
	}
	
}

// > 1200px
@media (min-width: 1120px) { 
	.menu{
		&__link{
			padding: rem(23px 55px);
		}
	}
}

// < 992px
@media (max-width: $bp-large) { 
	.menu{
		&__link{
			padding: rem(23px 30px);
		}
	}
	.callback{
		&__text{
			display: block;
		}
	}
}




// < 768px
@media (max-width: $bp-medium) {
	.header{
		&__row{
			align-items: center;
		}
		&__logo{
			flex-basis: 40%;
		}
		&__callback{
			flex-basis: 40%;
		}
	}
	.callback{
		&__text{
			display: none;
		}
		&__button{
			padding: rem(8px 18px);
		}
	}
	.icon-menu{
		display: block;
	}
	.menu{
		display: none;
	}
	.promo{
		padding: rem(50px 0);
		&__info{
			justify-content: flex-start;
			min-height: 100%;
		}
		&__title{
			font-size: rem(30px);
		}
	}
}

// < 576px
@media (max-width: $bp-small) {

	.icon-menu{
		margin-left: 0;
	}
	.header{
		&__logo{
			flex-basis: 60%;
		}
		&__row{
			padding: rem(30px 0 30px);
		}
	}
	.callback{
		&__wrap-button{
			display: none;
		}
	}
	.promo{
		padding: rem(30px 0);
		&__info{
			align-items: center;
		}
		&__text{
			text-align: center;
		}
		&__title{
			font-size: rem(25px);
		}
		&__description{
			text-align: center;
			margin: rem(0 auto 30px);
		}
		&__index{
			margin-right: 0;
			margin-left: 0;
		}
		&__buttons{
			text-align: center;
			min-height: 15vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}
	}
}






/*==========  Desktop First  ==========*/

// // ≥1200px
// @include media-breakpoint-down(lg) {

// }

// // ≥992px
// @include media-breakpoint-down(md) {

// }

// // ≥768px
// @include media-breakpoint-down(sm) {

// }

// // ≥576px
// @include media-breakpoint-down(xs) {

// }


// // Экстрамалые девайсы («телефоны», < 576px)
// @media (max-width: 576px) { ... }

// // Малые девайсы («ландшафтные», < 768px)
// @media (max-width: 768px) { ... }

// // Средние девайсы («таблетки», < 992px) 
// @media (max-width: 992px) { ... }

// // Большие девайсы (большие десктопы, < 1200px)
// @media (max-width: 1200px) { ... }



// /*==========  Mobile First  ==========*/

// // ≤576px
// @include media-breakpoint-up(sm) {

// }

// // ≤768px
// @include media-breakpoint-up(md) {

// }

// // ≤992px
// @include media-breakpoint-up(lg) {

// }

// // ≤1200px
// @include media-breakpoint-up(xl) {
	
// }

//  **********

// // Малые девайсы («ландшафтные телефоны», >= 576px)
// @media (min-width: 576px) { ... }

// // Средние девайсы («таблетки», >= 768px)
// @media (min-width: 768px) { ... }

// // Большие девайсы (десктопы, >= 992px)
// @media (min-width: 992px) { ... }

// // Экстрабольшие девайсы (большие десктопы, >= 1200px)
// @media (min-width: 1200px) { ... }



//  OTHER

// @include media-breakpoint-only(xs) { ... }
// @include media-breakpoint-only(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-only(lg) { ... }
// @include media-breakpoint-only(xl) { ... }

// Экстрамалые девайсы («портретные телефоны», < 576px)
// @media (max-width: 575.98px) { ... }

// // Малые девайсы («ландшафтные», >= 575px)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// // Средние девайсы («таблетки», >= 768px) 
// @media (min-width: 768px) and (max-width: 991.98px) { ... }

// // Большие девайсы (большие десктопы, >= 992px)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }

// // Большие девайсы (большие десктопы, >= 1200px)
// @media (min-width: 1200px) { ... }