//Colors
$white: #fff;
$white-shade: #959595; 
$black: #000;
$accent-color: #e5493a;
$bg-line: #2f2f2f;
$font-color: #555555;
$bg-color: #252525;
$bg-color-portfolio: #202020;
$extra-color: #8dc63f;
$bg-secondary: #636363;
$bg-section: #202020;

//Typography
$font: "Raleway", sans-serif;
$font-secondary: "Roboto", sans-serif;


$font-size: 14px; 
$font-size-secondary: 14px; 
$font-size-extra: 15px; 
$h1-font-size: 75px; 
$h2-font-size: 37px; 
$h3-font-size: 25px;
$h4-font-size: 16px;
$h5-font-size: 14px;
$nav-font-size: 16px;

// $line-height: $font-size * 1.6;
$line-height: 1.43;

// Breakpoints
$bp-small: 320px;
$bp-small-2: 480px;
$bp-small-3: 576px;
$bp-medium-2: 640px;
$bp-medium: 768px;
$bp-large: 1200px;
$bp-large-2: 992px;


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1300px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1240px);

$gutter: $grid-gutter-width;
