.header{
	background: url('../img/background/header-bg.jpg') top center no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;
	&::before{
		content: "";
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(59, 67, 76, .95 );
		z-index: 1;
	}
	&__logo{
		flex-basis: 15%;
		z-index: 2;	
	}
	&__link{
		font-family: $font;
		font-weight: $normal;
		color: $white;
		text-decoration: none;
		font-size: 24px;
		span{
			color: $accent-color;
			font-weight: $extrabold;
		}
	}
	&__mobile-nav{
		flex-basis: 10%;
	}
	&__info{
		position: relative;
		text-align: center;
		padding-top: 80px;
		z-index: 2;
	} 
	&__title{
		font-family: $font;
		font-size: $h1-font-size;
		font-weight: $extrabold;
		line-height: 1.6;
		color: $white;
		text-transform: uppercase;
		span{
			color: $accent-color;
		}
	}
	&__description{
		font-family: $font;
		font-weight: $normal;
		font-size: $font-size-extra;
		line-height: 1.6;
		color: $white;
		max-width: 785px;
		margin: 0 auto 60px;
	}
}

.top-nav{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 0;
}

.button{
	@include button($two-button: true);
}

.arrow-down{

	&__link{
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		opacity: 0.5;
		transition: opacity .3s ease;
		&:hover{
			opacity: 1;
		}
	}
	&__icon{
		width: 34px;
		height: 34px;
		fill: $white;
	}
	
}