.team{
	position: relative;
	padding: 100px 0px;

	&__info-wrap{
		margin: 0 auto 60px;
		max-width: 480px;
		text-align: center;
	}
	&__title{
		margin-bottom: 20px;
	}
	&__subtitle{
		font-family: $font;
		font-size: $font-size;
		font-weight: $normal;
		color: $font-color;
		line-height: 1.8;
	}
}
.our-employees{
	
	&__item{
		text-align: center;
		filter: grayscale(100%);
		transition: filter .3s ease-in;
		&:hover{
			filter: grayscale(0%);
		}
	}
	&__wrap-img{
		margin: 0 auto 30px;
		width: 236px;
		height: 284px;
		border: 1px solid $border-gray;
		border-radius: 10px;
		overflow: hidden;
		// filter: grayscale(100%);
		transition: all .4s ease;
		&:hover{
			border-bottom: 5px solid $accent-color;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;	
			// filter: grayscale(0%);
			cursor: pointer;
			transform: scale(1.1) translateY(-20px);
		}
	}
	&__title{
		font-family: $font;
		font-size: $h3-font-size;
		font-weight: $semibold;
		text-transform: uppercase;
		color: $font-color;
		margin-bottom: 25px;
	}
	&__link{
		text-decoration: none;
		display: inline-block;
		margin-right: 14px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__icons{
		margin-bottom: 15px;
	}
	&__icon{
		width: 24px;
		height: 24px;

		&--facebook{
			fill: #205B9F;
			&:hover{
				fill: lighten(#205B9F, 10%);
			}
		}
		&--twitter{
			fill: #00ACE3;
			&:hover{
				fill: lighten(#00ACE3, 10%);
			}
		}
		&--google{
			fill: #FF3921;
			&:hover{
				fill: lighten(#FF3921, 10%);
			}
		}
	}
	&__description{
		margin: 0 auto;
		font-family: $font;
		font-size: $font-size-secondary;
		font-weight: $normal;
		color: $font-color;
		line-height: 1.8;
		max-width: 255px;
	}
}
.slick{

	&-slide{

	}
	&-list{
		padding-top: 40px;
		// margin-left: -30px;
    // margin-right: -30px;
	}
}
