.location-map {
  &--theme-white {
    .location-map {
      &__button {
        border-color: $white;
        color: $white;
      }
    }
  }
  &__button {
    display: inline-block;
    @include button-reset();
    font-weight: 500;
    font-size: rem(13px);
    line-height: 1;
    color: $font-color;
    border: 2px solid $font-color;
    border-radius: 1px;
    padding: rem(5px 0px);
    max-width: rem(78px);
    min-width: rem(78px);
    text-align: center;
  }
}
