/*==========  Mobile First  ==========*/

/* ------------ < 576px------------ */

@media (min-width: $bp-small) {
  .header-top {
    &__wrapper {
      justify-content: center;
    }
    &__logo {
      text-align: center;
    }
    &__feedback-inner {
      flex-grow: 1;
      display: block;
      text-align: right;
    }
    &__icon-menu {
      order: -1;
      text-align: left;
    }
  }
  .promo {
    &__info {
      padding: rem(110px 0 30px);
    }
  }
}

/* ------------ < 768px------------ */

@media (min-width: $bp-medium) {
  .header-top {
    &__contacts {
      display: block;
      flex-grow: 1;
    }
    &__services-inner {
      display: block;
      flex-grow: 1;
    }
    &__icon-menu {
      display: none;
    }
  }
  .promo {
    &__info {
      padding-top: rem(150px);
    }
    &__naming {
      font-size: rem(80px);
      line-height: rem(92px);
    }
    &__title {
      font-size: rem(30px);
      line-height: rem(35px);
    }
  }
}

/* ------------ < 992px------------ */

@media (min-width: $bp-large) {
  .header-top {
    &__wrapper {
      text-align: center;
      justify-content: flex-end;
    }
    &__logo {
      flex-basis: 9.9%;
      flex-grow: 0;
      margin-right: auto;
    }
    &__feedback-inner {
      flex-basis: 23.8%;
      flex-grow: 0;
    }
    &__contacts {
      flex-basis: 23.8%;
      flex-grow: 0;
      text-align: center;
      margin-right: rem(15px);
    }
    &__services-inner {
      flex-basis: 15.4%;
      flex-grow: 0;
      text-align: center;
      margin-right: rem(15px);
    }
  }
  .promo {
    &__info {
      padding-top: rem(190px);
    }
    &__naming {
      font-size: rem(96px);
      line-height: rem(110px);
    }
  }
}

/* ------------ < 1200px ------------ */

@media (min-width: $bp-extra-large) {
}

/* ------------ MEDIA FAQ ------------ */

/*==========  Desktop First  ==========*/

// // ≥1200px
// @include media-breakpoint-down(lg) {

// }

// // ≥992px
// @include media-breakpoint-down(md) {

// }

// // ≥768px
// @include media-breakpoint-down(sm) {

// }

// // ≥576px
// @include media-breakpoint-down(xs) {

// }

// // Экстрамалые девайсы («телефоны», < 576px)
// @media (max-width: 576px) { ... }

// // Малые девайсы («ландшафтные», < 768px)
// @media (max-width: 768px) { ... }

// // Средние девайсы («таблетки», < 992px)
// @media (max-width: 992px) { ... }

// // Большие девайсы (большие десктопы, < 1200px)
// @media (max-width: 1200px) { ... }

/*==========  Mobile First  ==========*/

// // ≤576px
// @include media-breakpoint-up(sm) {

// }

// // ≤768px
// @include media-breakpoint-up(md) {

// }

// // ≤992px
// @include media-breakpoint-up(lg) {

// }

// // ≤1200px
// @include media-breakpoint-up(xl) {

// }

//  **********

// // Малые девайсы («ландшафтные телефоны», >= 576px)
// @media (min-width: 576px) { ... }

// // Средние девайсы («таблетки», >= 768px)
// @media (min-width: 768px) { ... }

// // Большие девайсы (десктопы, >= 992px)
// @media (min-width: 992px) { ... }

// // Экстрабольшие девайсы (большие десктопы, >= 1200px)
// @media (min-width: 1200px) { ... }

/*==========  OTHER  ==========*/

// @include media-breakpoint-only(xs) { ... }
// @include media-breakpoint-only(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-only(lg) { ... }
// @include media-breakpoint-only(xl) { ... }

// Экстрамалые девайсы («портретные телефоны», < 576px)
// @media (max-width: 575.98px) { ... }

// // Малые девайсы («ландшафтные», >= 575px)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// // Средние девайсы («таблетки», >= 768px)
// @media (min-width: 768px) and (max-width: 991.98px) { ... }

// // Большие девайсы (большие десктопы, >= 992px)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }

// // Большие девайсы (большие десктопы, >= 1200px)
// @media (min-width: 1200px) { ... }
