/*==========  Mobile First  ==========*/

/* ------------ < 576px------------ */

@media (min-width: $bp-small) {
  .header-top {
    &--fixed {
      min-height: rem(51px);
    }
    &__wrapper {
      justify-content: center;
      min-height: rem(51px);
    }
    &__logo {
      text-align: center;
    }
    &__feedback-inner {
      flex-grow: 1;
      display: block;
      text-align: right;
    }
    &__icon-menu {
      order: -1;
      text-align: left;
    }
  }
  .content {
    padding-top: rem(51px);
  }
  .promo {
    &__info {
      padding: rem(110px 0 30px);
    }
    &__wrapper {
      min-height: calc(100vh - 51px);
    }
  }
  .services {
    &__wrapper {
      align-items: center;
    }
    &__list {
      width: 72%;
    }
    &__text-description {
      font-size: rem(16px);
      line-height: rem(20px);
    }
  }
  .feedback {
    background: url(../img/feedback/feedback_bg.jpg) no-repeat center top;
    background-size: cover;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($secondary-color, 0.5);
    }
    &__description {
      font-size: rem(20px);
      line-height: rem(26px);
    }
    &__text {
      background: none;
      &::before {
        background: none;
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__form {
      max-width: rem(394px);
      width: 100%;
      margin-bottom: rem(20px);
    }
  }
  .module-feedback {
    &__body {
      padding: rem(0 22px);
    }
    &__heading {
      font-size: rem(16px);
      line-height: rem(18px);
    }
  }
  .link {
    font-size: rem(22px);
    line-height: rem(26px);
  }
  .footer {
    padding-bottom: rem(32px);
    &__wrapper {
      min-height: calc(200px - 72px);
    }
    &__socials-inner {
      margin-bottom: rem(25px);
    }
    &__social-icon {
      width: rem(40px);
      height: rem(40px);
    }
    &__email-inner {
      margin-bottom: rem(25px);
    }
  }
}

/* ------------ < 768px------------ */

@media (min-width: $bp-medium) {
  .link {
    font-size: rem(18px);
    line-height: rem(21px);
  }
  .header-top {
    &__contacts {
      display: block;
      flex-grow: 1;
    }
    &__services-inner {
      display: block;
      flex-grow: 1;
    }
    &__icon-menu {
      display: none;
    }
  }
  .promo {
    padding-bottom: rem(40px);
    &__wrapper {
      min-height: calc(100vh - 88px);
    }
    &__info {
      padding-top: rem(150px);
    }
    &__naming {
      font-size: rem(80px);
      line-height: rem(92px);
    }
    &__title {
      font-size: rem(30px);
      line-height: rem(35px);
    }
  }
  .services {
    &__wrapper {
      align-items: center;
    }
    &__title {
      margin-bottom: rem(50px);
    }
    &__list {
      justify-content: space-between;
      width: 100%;
    }
    &__item {
      margin-bottom: rem(45px);
      flex-basis: 45%;
    }
  }
  .section-title {
    font-size: rem(40px);
    line-height: rem(46px);
  }
  .section {
    padding-top: rem(50px);
  }
  .feedback {
    padding-top: rem(18px);
    &__description {
      font-size: rem(22px);
      line-height: rem(28px);
    }
  }
  .module-feedback {
    &__heading {
      font-size: rem(18px);
      line-height: rem(20px);
    }
    &__body {
      padding: rem(0 28px);
    }
  }
  .link {
    font-size: rem(20px);
    line-height: rem(24px);
  }
  .footer {
    padding-top: rem(16px);
    padding-bottom: rem(16px);
    &__wrapper {
      min-height: calc(100px - 72px);
    }
    &__contacts-inner {
      display: flex;
      flex-basis: 48%;
    }
    &__socials-inner {
      flex-basis: 52%;
      margin-bottom: rem(0px);
      text-align: left;
    }
    &__social-icon {
      width: rem(35px);
      height: rem(35px);
    }
    &__email-inner {
      flex-basis: 100%;
      margin-bottom: rem(0px);
    }
    &__callback-inner {
      flex-basis: 100%;
    }
  }
}

/* ------------ < 992px------------ */

@media (min-width: $bp-large) {
  .header-top {
    &__wrapper {
      text-align: center;
      justify-content: flex-end;
    }
    &__logo {
      flex-basis: 9.9%;
      flex-grow: 0;
      margin-right: auto;
    }
    &__feedback-inner {
      flex-basis: 23.8%;
      flex-grow: 0;
    }
    &__contacts {
      flex-basis: 23.8%;
      flex-grow: 0;
      text-align: center;
      margin-right: rem(15px);
    }
    &__services-inner {
      flex-basis: 15.4%;
      flex-grow: 0;
      text-align: center;
      margin-right: rem(15px);
    }
  }
  .promo {
    &__info {
      padding-top: rem(190px);
    }

    &__naming {
      font-size: rem(96px);
      line-height: rem(110px);
    }
  }
  .services {
    padding-bottom: rem(72px);

    &__title {
      margin-bottom: rem(68px);
    }
    &__wrapper {
      align-items: center;
    }
    &__list {
      justify-content: space-between;
      width: 100%;
    }
    &__item {
      text-align: center;
      margin-bottom: rem(67px);
      flex-basis: 32%;

      flex-direction: column;
    }
    &__icon {
      margin-right: 0;
      margin-bottom: rem(24px);
    }
    &__text-description {
      font-size: rem(18px);
      line-height: rem(21px);
    }
    &__button {
      margin-top: 0;
    }
  }
  .section {
    padding-top: rem(80px);
  }
  .section-title {
    font-size: rem(48px);
    line-height: rem(56px);
  }
  .feedback {
    padding-top: rem(48px);
    &__description {
      font-size: rem(24px);
      line-height: rem(30px);
    }
    &__form {
      margin-bottom: rem(32px);
    }
  }
  .module-feedback {
    &__body {
      padding: rem(0 32px);
    }
  }
  .link {
    font-size: rem(18px);
    line-height: rem(21px);
  }
  .footer {
    padding-top: rem(12px);
    padding-bottom: rem(12px);
    &__wrapper {
      min-height: calc(100px - 72px);
    }
    &__contacts-inner {
      display: flex;
      flex-basis: 43%;
    }
    &__socials-inner {
      flex-basis: 57%;
    }
    &__social-icon {
      width: rem(24px);
      height: rem(24px);
    }
    &__email-inner {
      flex-basis: 100%;
    }
    &__callback-inner {
      flex-basis: 100%;
    }
  }
}

/* ------------ < 1200px ------------ */

@media (min-width: $bp-extra-large) {
}

/* ------------ MEDIA FAQ ------------ */

/*==========  Desktop First  ==========*/

// // ≥1200px
// @include media-breakpoint-down(lg) {

// }

// // ≥992px
// @include media-breakpoint-down(md) {

// }

// // ≥768px
// @include media-breakpoint-down(sm) {

// }

// // ≥576px
// @include media-breakpoint-down(xs) {

// }

// // Экстрамалые девайсы («телефоны», < 576px)
// @media (max-width: 576px) { ... }

// // Малые девайсы («ландшафтные», < 768px)
// @media (max-width: 768px) { ... }

// // Средние девайсы («таблетки», < 992px)
// @media (max-width: 992px) { ... }

// // Большие девайсы (большие десктопы, < 1200px)
// @media (max-width: 1200px) { ... }

/*==========  Mobile First  ==========*/

// // ≤576px
// @include media-breakpoint-up(sm) {

// }

// // ≤768px
// @include media-breakpoint-up(md) {

// }

// // ≤992px
// @include media-breakpoint-up(lg) {

// }

// // ≤1200px
// @include media-breakpoint-up(xl) {

// }

//  **********

// // Малые девайсы («ландшафтные телефоны», >= 576px)
// @media (min-width: 576px) { ... }

// // Средние девайсы («таблетки», >= 768px)
// @media (min-width: 768px) { ... }

// // Большие девайсы (десктопы, >= 992px)
// @media (min-width: 992px) { ... }

// // Экстрабольшие девайсы (большие десктопы, >= 1200px)
// @media (min-width: 1200px) { ... }

/*==========  OTHER  ==========*/

// @include media-breakpoint-only(xs) { ... }
// @include media-breakpoint-only(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-only(lg) { ... }
// @include media-breakpoint-only(xl) { ... }

// Экстрамалые девайсы («портретные телефоны», < 576px)
// @media (max-width: 575.98px) { ... }

// // Малые девайсы («ландшафтные», >= 575px)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// // Средние девайсы («таблетки», >= 768px)
// @media (min-width: 768px) and (max-width: 991.98px) { ... }

// // Большие девайсы (большие десктопы, >= 992px)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }

// // Большие девайсы (большие десктопы, >= 1200px)
// @media (min-width: 1200px) { ... }
