.shelter{
	min-height: 595px;
	background-color: #fafafa;
}
.shelter__title{
	padding: 60px 0;
	text-align: center;
}
.help{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	/*padding-bottom: 50px;*/
}
.help__item{
	flex-basis: 20%;
	margin-bottom: 90px;
}
.help__item:nth-child(n+6){
	margin-bottom: 0;
}
.help__img{
	width: 60px;
	height: 60px;
	fill: #f1cdb3;

}
.help__desc{
	font-family: "Georgia", Arial, sans-serif;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: #545454;
}

/*Donation section*/

.donation{
	position: relative;
	min-height: 435px;
	background-color: #f6f6f6;
	padding-top: 65px;
}
.donation__wrap{
	/*padding-top: 65px;*/
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	/*outline: 1px solid red;*/
}
.donation__left-box{
	flex-basis: 45%;
	margin-right: 60px;
	/*outline: 1px solid blue;*/
}
.donation__right-box{
	/*outline: 1px solid green;*/
	flex-basis: 35%;
}
.donation__title{
	padding-bottom: 28px;
	width: 385px;
}
.donation__subtitle{
	font-family: "Georgia", Arial, sans-serif;
	font-size: 15px;
	letter-spacing: 1px;
	color: #545454;
	margin-bottom: 5px;
}
.donation__number-card{
	position: relative;
	width: 320px;
	height: 48px;
 	background-color: #f1cdb3;
 	border-radius: 8px;
 	font-family: "Times New Roman", Arial, sans-serif;
	font-size: 20px;
	line-height: 48px;
	letter-spacing: 1.2px;
	padding-left: 60px;
	margin-bottom: 25px;
}
.donation__number-card:before{
	content:"";
	position: absolute;
	top: 6px;
	left: 14px;
	width: 40px;
	height: 35px;
	background-image: url(../../build/img/SVG-ICON/credit-card.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.donation__desc{
	font-family: "Arial", sans-serif;
	font-size: 12px;
	line-height: 1.5;
	font-style: italic;
	color: #b2b2b2;
	width: 385px;
}

@media only screen and (max-width : 768px) {
	.help__item{
		flex-basis: 33.3%;
	}
	.donation__wrap{
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: center;
		padding-bottom: 20px;
	}
	.donation__left-box{
		margin-right: 0;
		order: 1;
		width: 80%;
	}
	.donation__right-box{
		text-align: center;
		order: 0;
		margin-bottom: 15px;
		width: 80%;
	}
	.donation__title{
		font-size: 30px;
		width: 100%;
	}
	.donation__desc{
		width: 100%;
	}
	.donation__number-card{
		margin: 20px auto;
		max-width: 90%;
	}
}
@media only screen and (max-width : 492px) {
	.help{
		flex-flow: column wrap;
		flex-basis: 100%;
	}
	.help__item{
		margin-bottom: 20px;
	}
	.help__item:nth-child(n+6){
		margin-bottom: 20px;
	}
	.shelter__title{
		font-size: 25px;
	}
	.donation__title{
		font-size: 27px;
	}
	.donation__left-box{
		width: 100%;
	}
	.donation__right-box{
		width: 100%;
	}
	.donation__number-card{
		font-size: 16px;
		padding-left: 40spx;
	}
}