
/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.status-bar{
		&__item{
			&_theme{
				&--blue{
					margin-right: rem(10px);
					&::before{
						width: rem(150px);
					}
					&::after{
						left: 149px;
					}
				}
			}
		}
		&__item{
			&_theme{
				&--gray{
				
					&::before{
						width: rem(180px);
					}
					&::after{
						left: 179px;
					}
				}
			}
		}
		&__icon{
			margin-left: rem(60px);
			&_theme{
				&--white{
					margin-left: rem(15px);
				}
			}
		}
	}
}

// ≥992px
@include media-breakpoint-down(md) {
	.header{

		&__title{
			font-size: rem(50px);
		}
		&__subtitle{
			font-size: rem(30px);
		}
	}
	.phone{
		text-align: center;
	}
	.nav-menu{

		&__item{
			margin-right: rem(15px);
			&:last-child{
				margin-right: rem(0px);
			}
		}
	}
	.button{
		&_size{
			&--medium{
				width: 31%;
			}
		}
	}
	.form{
		&__wrap{
			margin-bottom: rem(25px);
		}
		&__group{
			&--location{
				width: 31%;
			}
			&--check{
				width: 31%;
			}
			&--adult{
				width: 31%;
			}
			&--child{
				width: 31%;
			}
		}
	}
	.about{
		&::before{
			background: url(../img/background/about-bg.jpg) no-repeat 10%;
			background-size: cover;
		}
		&__wrap{
			margin-left: rem(30px);
		}
		&__description{
			padding-right: 0;
		}
	}
	.advantages-list{
		&__item{
			padding-right: 0;
		}
	}
	.section-title{
		font-size: rem(32px);
	}
	.section-subtitle{
		font-size: rem(32px);
	}
	.services{
		&__heading{
			line-height: 1.6;
			margin-bottom: rem(10px);
		}
		&__item{
			position: relative;
			padding-left: rem(80px);
		}
	}
	.package{
		&__heading{
			font-size: rem(21px);
		}
	}
	.destination{
		text-align: center;
		&__wrap-img{
			margin-left: auto;
			margin-right: auto;
		}
		&__description{
			margin-left: auto;
			margin-right: auto;
		}
		&__button{
			margin-bottom: rem(50px);
		}
	}
	.status-bar{
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
}

// ≥768px
@include media-breakpoint-down(sm) {
	.header{

		&__title{
			font-size: rem(35px);
		}
		&__subtitle{
			font-size: rem(20px);
		}
	}
	.search{
		padding: rem(30px 0);
		&__title{
			margin-bottom: rem(30px);
			font-size: rem(30px);
		}
	}
	.about{
		padding: rem(40px 0);
		&__wrap{
			margin-left: rem(5px);
		}
		&__description{
			padding-right: 0;
		}
	}
	.advantages-list{
		&__item{
			padding-right: 0;
		}
	}
	.section-title{
		font-size: rem(25px);
	}
	.section-subtitle{
		font-size: rem(25px);
	}
	.services{
		padding: rem(40px 0 20px);
		&__item{
			&:last-child{
				padding-bottom: rem(30px);
			}
		}
	}
	.budget{
		padding: rem(40px 0 30px);
		&::after{
			display: none;
		}
	}
	.package{
		margin: rem(0 auto 20px);
		width: 80%;
	}
	.destination{
		padding: rem(40px 0);
	}
	.status-bar{
		width: 100%;
	}
}

// ≥576px
@include media-breakpoint-down(xs) {
	.header{
		&__banner-wrap{
			padding-top: 100px;
		}
		&__title{
			font-size: rem(27px);
		}
		&__subtitle{
			font-size: rem(18px);
		}
		&__description{
			font-size: rem(16px);
		}
	}
	.button{
		&_size{
			&--medium{
				width: 50%;
			}
		}
	}
	.form{
		&__wrap{
			display: flex;
			flex-direction: column;
			margin-bottom: 0;
		}
		&__group{
			margin: rem(5px auto);
			&--location{
				width: 80%;
			}
			&--check{
				width: 80%;
			}
			&--adult{
				width: 80%;
			}
			&--child{
				width: 80%;
			}
		}
		&__button{
			margin: rem(20px auto 0);
		}
	}
	.search{
		&__title{
			margin-bottom: rem(10px);
		}
	}
	.about{
		&::before{
			display: none;
		}
		padding: rem(40px 0 );
		&__wrap{
			margin-left: rem(5px);
		}
		&__description{
			padding-right: 0;
			text-align: center;
		}
	}
	.advantages-list{
		&__item{
			padding-right: 0;
		}
	}
	.section-title{
		font-size: rem(25px);
		text-align: center;
	}
	.section-subtitle{
		font-size: rem(25px);
		text-align: center;
	}
	.services{

		&__heading{
			font-size: rem(18px);
		}
	}
	.destination{
		&__img{
			max-width: 100%;
			height: auto;
		}
	}
	.status-bar{
		height: rem(80px);
		&__item{
			&_theme{
				&--blue{
					margin-right: rem(-15px);
					&::before{
						width: rem(100px);
					}
					&::after{
						left: 100px;
						border-top: 40px solid transparent;
    				border-bottom: 40px solid transparent;
						border-left: 24px solid $brand-color;
					}
				}
			}
		}
		&__item{
			&_theme{
				&--gray{
				
					&::before{
						width: rem(100px);
					}
					&::after{
						left: 100px;
					}
				}
			}
		}
		&__name{
			font-size: rem(18px);
		}
		&__icon{
			margin-left: rem(30px);
			margin-right: rem(10px);
			font-size: rem(35px);
			&_theme{
				&--white{
					margin-left: rem(15px);
					font-size: rem(30px);
				}
			}
		}
	}
}



/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
