//Colors
$white: #fff;
$black: #000;
$black-light: #151515;
$extra-color: #262626;
$social-color: #353535;
$base-color: #040404;
$brand-color: #00a4ff;
$accent-color: #f0d839;
$accent-bg: #ecd438;
$secondary-color: #373737;

//Typography
$font: "Montserrat", sans-serif;
$font-secondary: "Lato", sans-serif;

$thin: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$weight-black: 900;


$font-size: 16px; //18px
$font-size-secondary: 0.79rem; //14px
$font-size-extra: 0.85rem; //15px
$h1-font-size: 4.2rem; //75px
$h2-font-size: 2.1rem; //37px
// $h3-font-size: 25px;
// $h4-font-size: 16px;
// $h5-font-size: 14px;
$nav-font-size: 0.9rem; //16px

// $line-height: $font-size * 1.6;

// Breakpoints
$bp-small: 320px;
$bp-small-2: 480px;
$bp-small-3: 576px;
$bp-medium-2: 640px;
$bp-medium: 768px;
$bp-large: 1200px;
$bp-large-2: 992px;


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1300px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1240px);

$gutter: $grid-gutter-width;
