.contact{
	padding: rem(130px 0 80px);
	background: url(../img/background/contact-bg_1.jpg) no-repeat top center;
	// height: rem(468px);
	background-size: cover;
	// border-radius: 100% 0% 50% 50% / 0% 53% 47% 100%  ;
	z-index: 0;
	background-attachment: scroll;
	text-align: center;
	position: relative;
	&::before{
		content:'';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 350px;
		background: $white;
		clip-path: polygon(50% 20%, 100% 11%, 100% 100%, 48% 100%, 0 100%, 0 12%);
	}
	&__subtitle{
		margin-bottom: rem(80px);
	}
	&__icon{
		font-size: rem(180px);
		color: $accent-color;
		margin-bottom: rem(60px);
	}
	&__socials-list{
		margin-top: rem(50px);
	}
}
.info{
	position: relative;
	z-index: 1;
	// background: #fff;
	text-align: left;
	&__item{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: rem(40px);
	}
	&__wrap-icon{
		text-align: right;
	}
	&__text{
		padding-left: rem(30px);
		&_position{
			padding-left: 0;
		}
	}
	&__icon{
		fill: $extra-color;
		position: relative;
		&_envelope{
			width: rem(54px);
			height: rem(42px);
		}
		&_phone{
			left: -45px;
			width: rem(36px);
			height: rem(54px);
		}
		&_map{
			width: rem(52px);
			height: rem(54px);
		}
	}
	&__title{
		font-family: $font-secondary;
		font-weight: $bold;
		text-transform: uppercase;
		font-size: rem(17px);
		color: $extra-color;
	}
	&__description{
		font-family: $font-secondary;
		font-size: rem(16px);
		color: $extra-color;
		&_link{
			display: block;
			&:hover{
				color: darken($extra-color, 10%);
			}
		}
	}
}
.socials-list{
	margin-bottom: rem(10px);
	&__link{
		display: inline-block;
		margin-right: rem(32px);
		width: rem(67px);
		height: rem(67px);
		border: 3px solid $accent-color;
		border-radius: 50%;
		line-height: rem(70px);
		transition: all .4s ease;
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			text-decoration: none;
			background: $accent-color;
		}
	}
	&__icon{
		color: $extra-color;
		font-size: rem(30px);
	}
}
