.contact{
	padding: rem(130px 0 80px);
	background: $white;
	// top: -400px;
	// border-radius: 100% 0% 50% 50% / 0% 53% 47% 100%  ;
	text-align: center;
	position: relative;
	&::before{
		content:'';
		background: url(../img/background/contact-bg_1.jpg) no-repeat top center;
		position: absolute;
		background-size: cover;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		height: 465px;
		// Border background v.2
		width: 120vw;
 		margin-left: -10vw;
		border-radius: 0 0 100vw 100vw/0 0 20vh 20vh;
		//Border background v.1
		// width: 150%;
		// left: -20%;
		// right: 0;
		// bottom: 0;
		// top: 0;
		// height: 465px;
		// border-radius:0 0 50% 40%;
	}
	&__subtitle{
		margin-bottom: rem(80px);
	}
	&__icon{
		font-size: rem(180px);
		color: $accent-color;
		margin-bottom: rem(60px);
	}
	&__socials-list{
		margin-top: rem(50px);
	}
}
.info{
	position: relative;
	z-index: 1;
	// background: #fff;
	text-align: left;
	&__item{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: rem(40px);
	}
	&__wrap-icon{
		text-align: right;
	}
	&__text{
		padding-left: rem(30px);
	}
	&__icon{
		fill: $extra-color;
		position: relative;
		&_envelope{
			width: rem(54px);
			height: rem(42px);
		}
		&_phone{
			width: rem(36px);
			height: rem(54px);
		}
		&_map{
			width: rem(52px);
			height: rem(54px);
		}
	}
	&__title{
		font-family: $font-secondary;
		font-weight: $bold;
		text-transform: uppercase;
		font-size: rem(17px);
		color: $extra-color;
	}
	&__description{
		font-family: $font-secondary;
		font-size: rem(16px);
		color: $extra-color;
		&_link{
			display: block;
			&:hover{
				color: darken($extra-color, 10%);
			}
		}
	}
}
.socials-list{
	margin-bottom: rem(10px);
	&__link{
		display: inline-block;
		margin-right: rem(32px);
		width: rem(67px);
		height: rem(67px);
		border: 3px solid $accent-color;
		border-radius: 50%;
		line-height: rem(70px);
		transition: all .4s ease;
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			text-decoration: none;
			background: $accent-color;
		}
	}
	&__icon{
		color: $extra-color;
		font-size: rem(30px);
	}
}
