.destination{
	padding: rem(95px 0 );

	&__wrap-img{
		max-width: rem(418px);
		max-height: rem(544px);
		overflow: hidden;
		// border: 1px solid red;
		border-radius: rem(15px);
	}
	&__img{
		border-radius: rem(15px);
		max-width: rem(418px);
	}
	&__subtitle{
		margin-bottom: rem(40px);
	}
	&__status-bar{
		margin-bottom: rem(40px);
	}
	&__description{
		font-family: $font-secondary;
		font-weight: $medium;
		font-size: rem(18px);
		color: $base-color;
		line-height: 1.47;
		letter-spacing: rem(0.5px);
		margin-bottom: rem(45px);
		max-width: rem(650px);
	}
}
.status-bar{
	display: flex;
	overflow: hidden;
	align-items: center;
	max-width: rem(704px);
	height: rem(97px);
	border: 2px solid $brand-color;
	&__item{
		position: relative;
		text-align: center;
		display: flex;
		align-items: center;

		&:last-child{
			margin-right: 0;
		}
		&_theme{
			&--blue{
				margin-right: rem(40px);
				z-index: 2;
				&::before{
					content: "";
					position: absolute;
					width: rem(200px);
					height: rem(97px);
					background-color: $brand-color;
					
				}
				&::after{
					content:"";
					position: absolute;
					border-top: 48.5px solid transparent;
    			border-bottom: 48.5px solid transparent;
					border-left: 24px solid $brand-color;
					left: 199px;
				}
			}
		}
		&_theme{
			&--gray{
				&::before{
					content: "";
					position: absolute;
					width: rem(230px);
					height: rem(97px);
					background-color: #e4e4e4;
				}
				&::after{
					content:"";
					position: absolute;
					border-top: 48.5px solid transparent;
    			border-bottom: 48.5px solid transparent;
					border-left: 30px solid #e4e4e4;
					left: rem(230px); 
				}
			}
		}
	}
	&__icon{
		font-size: rem(40px);
		margin-right: rem(20px);
		margin-left: rem(130px);
		color: $secondary-color;
		vertical-align: bottom;
		z-index: 2;
		&--position{
			margin-left: rem(60px);
		}
		&_theme{
			&--white{
				color: $white;
				font-size: rem(35px);
				margin-left: rem(35px);
			}
		}
	}
	&__name{
		font-size: rem(22px);
		z-index: 2;
		font-weight: $medium;
		color: $black;
		letter-spacing: rem(0.1px);
		&_theme{
			&--white{
				color: $white;
			}
		}
	}
}