.discount{
	padding-top: rem(90px);
	position: relative;
	&__wrap-img{
		position: absolute;
		left: -20%;
	}
	&__offer{
		max-width: rem(597px);
		border-radius: rem(13px);
		box-shadow: 0px 0px 10px rgba(0, 0, 0, .6);
		padding: rem(20px 35px 35px 50px);
		background-color: $white;
		margin-top: rem(135px);
		margin-bottom: rem(90px);
	}
	&__title{
		font-size: rem(38px);
		font-weight: $weight-black;
		line-height: 1.43;
		color: $black;
	}
	&__subtitle{
		font-size: rem(24px);
		font-weight: $medium;
		color: $black;
	}
	&__description{
		font-family: $font-secondary;
		font-size: rem(18px);
		font-weight: $medium;
		color: $black;
	}
	&__price{
		font-size: rem(50px);
		line-height: 1.44;
		vertical-align: middle;
		letter-spacing: rem(0.3px);
		font-weight: $weight-black;
		color: $black;
		margin-right: rem(60px);
	}
	&__button{
		margin-top: rem(25px);
	}
}
.list-icons{
	display: flex;
	align-items: center;
	margin: rem(30px 0);
	&__item{
		margin-right: rem(80px);
		text-align: center;
	}
	&__icon{
		font-size: rem(55px);
		color: $brand-color;
		&_small{
			font-size: rem(50px);
			margin-bottom: rem(5px);
		}
	}
	&__title{
		font-weight: $medium;
		font-size: rem(20px);
		color: $black;
		line-height: 1.44;
	}
}