.pricing {
	background-color: $bg-section;
	padding: rem(110px 0 80px);
	// .pricing__title

	&__title {
	}

	// .pricing__subtitle

	&__subtitle {
		margin-bottom: rem(100px);
	}
}
.container {
}
.section-text {
}
.section-title {
}
.section-subtitle {
}
.pricing-block {
	display: flex;
	justify-content: space-between;
	// .pricing-block__item

	&__item {
		padding-top: rem(30px);
		flex-basis: 31%;
		background-color: $white;
		border-radius: rem(5px);
		transition: box-shadow .4s ease-in;
		&:hover{
			box-shadow: 0px 0px 10px rgba(0,0,0, .5);
		}
	}

	// .pricing-block__price

	&__price {
		font-family: $font;
		font-weight: 100;
		font-size: rem(60px);
		letter-spacing: rem(1.5px);
		line-height: 1.6;
		color: $accent-color;
		padding-left: rem(30px);
		padding-right: rem(65px);
	}

	// .pricing-block__naming

	&__naming {
		position: relative;
		font-family: $font-secondary;
		font-weight: 400;
		font-size: rem(18px);
		line-height: 1.6;
		letter-spacing: rem(1.5px);
		color: rgba($font-color, .5);
		margin-bottom: rem(50px);
		border-bottom: 1px solid $bg-section;
		padding-bottom: rem(50px);
		padding-left: rem(30px);
		padding-right: rem(65px);
	}
	
	// .pricing-block__description

	&__description {
		font-family: $font-secondary;
		font-weight: 400;
		line-height: 2.6;
		letter-spacing: rem(1.5px);
		font-size: rem(18px);
		color: $font-color;
		padding-left: rem(30px);
		padding-right: rem(60px);
		margin-bottom: rem(60px);
	}

	// .pricing-block__button

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .pricing-block__icon

	&__icon { 
		width: rem(20px);
		height: rem(20px);
		fill: $white;
	}
}

