.section-text {
	text-align: center;
	max-width: rem(700px);
	margin: 0 auto;
}
.section-title {
	padding-bottom: rem(20px);
	margin-bottom: rem(50px);
	font-family: $font;
	font-weight: 100;
	line-height: 1.5;
	letter-spacing: rem(1.5px);
	font-size: rem(60px);
	color: $extra-color;
	position: relative;
	&::after{
		content: '';
		display: block;
		position: absolute;
		width: rem(30px);
		height: rem(1px);
		background-color: $accent-color;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0)
	}
}
.section-subtitle {
	font-family: $font-secondary;
	font-size: rem(18px);
	font-weight: 400;
	line-height: 1.6;
	color: $font-color;
}