.skills{
	background-color: $accent-color;
	padding: rem(110px 0 80px);
	&__title{
		font-family: 'Raleway';
		color: $white;
		font-size: rem(30px);
		line-height: rem(28px);
		text-transform: uppercase;
		font-weight: 700;
		position: relative;
		margin: rem(20px 0);
		&::before{
			content: '';
			position: absolute;
			display: block;
			top: rem(-30px);
			width: rem(70px);
			height: rem(2px);
			background-color: $white;
		}
	}
	&__description{
		font-family: 'Roboto';
		color: $white;
		font-size: rem(14px);
		font-weight: 400;
		margin-bottom: rem(45px);
	}
}
