@charset "UTF-8";

/**
 * Основные стили
 **/
 * {
	box-sizing:border-box;
}
*::before, *::after {
	box-sizing: inherit;
}
html{
	height: 100%;
}
body {
  font-family: $font;
  line-height: $line-height;
  font-size: $font-size;
  overflow-x: hidden;
  min-width: 320px;
}
input, textarea {
  border: #666 1px solid;
  outline: none;
  &:focus:required:invalid {
    border-color: red;
  }
  &:required:valid {
    border-color: green;
  }
}
ul,ol {
	padding:0;
	margin:0;
	list-style:none;
}
p {
	margin:0;
}
h1,h2,h3,h4,h5 {
	margin-top:0;
	margin-bottom:0;
	font-weight:normal;
}
a{
	text-decoration: none;
}
// Прижимаем footer к низу, а header к верху
.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}
header{
	flex: 0 0 auto;
}
.content{
	flex: 1 0 auto; 
}
footer{
	flex: 0 0 auto;
}
//
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}
a{
	color: $white;
	&:hover{
		color: $white;
		text-decoration: none;
	}
}
.visually-hidden {
	display: none;
}