/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.header{
		padding: rem(37px 0 400px);
		overflow: hidden;
		&__promo{
			padding-top: rem(80px);
			margin: 0 auto;
			text-align: center;
			max-width: rem(600px);
		}
		&__title{
			&::before{
				content: none;
			}
		}
		&__mockup{
			top: rem(30px);
			left: 50%;
			transform: translate(-50%, 0);
		}
		&__socials{
			top: 60%;
			right: -13%;
		}
		&__scroll-down{
			bottom: rem(-350px);
			right: rem(10px);	
		}
	}
	.about{
		padding: rem(100px 0 410px);
	}
}
// ≥992px
@media only screen and (max-width : $bp-large-2) {
	.header{
		&__button{
			display: none;
		}
		&__socials{
			right: -23%;
		}
		&__scroll-down{
			bottom: rem(-350px);
			right: rem(-30px);	
		}
		&__title{
			font-size: rem(60px);
		}
	}
	.nav{
		&__list{
			justify-content: flex-end;
		}
	}
	.section-title{
		font-size: rem(50px);
	}
	.about{
		padding: rem(100px 0 300px);
	}
	.about-how{
		&__title{
			margin-top: rem(70px);
			margin-bottom: rem(20px);
		}
	}
}

// ≥768px
@media only screen and (max-width : $bp-medium) {
	.header{
		&__socials{
			display: none;
		}
		&__title{
			font-size: rem(50px);
			line-height: 1.4;
		}
		&__subtitle{
			font-size: rem(20px);
		}
		&__hamburger{
			text-align: right;
		}
	}
	.mockup{
		&__img{
			width: rem(500px);
		}
	}
	.section-title{
		font-size: rem(39px);
	}
	.section-subtitle{
		font-size: rem(25px);
	}
	.about{
		padding-bottom: rem(200px);
	}
	.about-how{
		padding-bottom: rem(100px);
		&__promo-wrap{
			margin-top: rem(-200px);
		}
		&__title{
			margin-top: rem(35px);
			margin-bottom: 0;
		}
		&__process{
			margin-top: rem(25px);
		}
	}
	.plyr{
		&__control{
			&--overlaid{
				svg{
					left: 25%;
					top: rem(7px);
					width: rem(30px);
					height: rem(30px);
				}
			}
		}
	}
	.process{
		&::before{
			left: rem(20px);
		}
		&__item{
			&_shape{
				&_circle{
					&::before{
						width: rem(44px);
						height: rem(44px);
						line-height: rem(44px);
						top: rem(5px);
					}
				}
			}
		}
		&__title{
			font-size: rem(24px);
			margin-bottom: 0;
		}
	}
	.nav{
		display: none;
	}
	.features{
		padding: rem(50px 0 0);
		&__item{
			text-align: center;
		}
	}
}

// ≥576px
@media only screen and (max-width : $bp-small-3) {
	.header{
		
		&__title{
			font-size: rem(35px);
		}
		&__scroll-down{
			bottom: rem(-350px);
			right: rem(20px);	
		}
		&__mockup{
			top: rem(50px);
			left: 30%;
		}
	}
	.mockup{
		&__img{
			width: rem(380px);
		}
	}
	.about{
		padding-top: rem(50px);
		&__slider{
			text-align: center;
		}
	}
	.section-title{
		font-size: rem(25px);
		line-height: 1.4;
	}
	.section-line{
		&::after{
			width: rem(150px);
		}
	}
	.section-subtitle{
		font-size: rem(20px);
	}
	.about{
		padding-bottom: rem(200px);
	}
	.about-how{
		padding-bottom: rem(80px);
	}
	.process{
		&::before{
			left: rem(35px);
		}
		&__item{
			padding-right: 0;
			&_shape{
				&_circle{
					&::before{
						left: rem(15px);
					}
				}
			}
		}
	}
	.features{
		&__description{
			margin-bottom: rem(75px);
		}
	}
	.section-line{
		&::after{
			bottom: rem(-35px);
		}
	}
}