//Colors
$white: #fff;
$black: #000;
$font-color: #545454;
$accent-color: #5b5095;
//Typography
$font: "Chivo", sans-serif;
$font-secondary: "Nunito", sans-serif;
// $font-extra: "OpenSansExtraBold", sans-serif;
// $font-accent: "OpenSansSemiBold", sans-serif;

$thin: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 800;

$font-size: 18px;
$font-size-secondary: 14px;
$font-size-extra: 25px; 
$h1-font-size: 70px;
$h2-font-size: 35px;
$h3-font-size: 25px;
$h4-font-size: 16px;
$h5-font-size: 14px;
$nav-font-size: 35px;

$line-height: $font-size * 1.8;

// Breakpoints
$bp-small: 320px;
$bp-small-2: 480px;
$bp-small-3: 576px;
$bp-medium-2: 640px;
$bp-medium: 768px;
$bp-large: 1200px;
$bp-large-2: 992px;


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

// $gutter: $grid-gutter-width;
