.header{
	position: relative;
	min-height: 1080px;
	background: url(../img/header-bcg_overlay.png) no-repeat center top;
	background-size: cover;
}
.header__wrap{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 210px;
}
.nav-fixed{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  background: rgba(240, 87, 40, .9);
}
.nav-fixed .header__logo,
.nav-fixed .header__menu{
 padding-top: 0;
 padding-bottom: 5px;
}
.nav-fixed .header__logo{
  padding-left: 10px;
}
.header__logo{
	padding-top: 50px;
}
.header__link{
	font-family: "ProximaNova-Bold";
	font-size: 36px;
	line-height: 1.5;
	text-decoration: none;
	color: #fff;
}
.header__link span{
	font-family: "ProximaNova-Light";
}
.menu{
  display: flex;
  flex-flow: row wrap;
}
.mobile-menu{
  display: none;
}
.header__menu{
	padding-top: 50px;
}
.menu__item{
	margin-right: 40px;
}
/* .menu__item:last-child{
	margin-right: 0px;
} */
.menu__link{
	font-family: "ProximaNova-Light";
	display: block;
	color: #fff;
	text-decoration: none;
	transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.menu__link:before {
  content: '';
  position: absolute;
  border: 1px solid transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.4s;
  transition-property: top, right, bottom, left;
}
.menu__link:hover:before {
  content: '';
  position: absolute;
  border:1px solid #e1e1e1;
  border-radius: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.4s;
  transition-property: top, right, bottom, left;
}
.menu__link:hover:before, 
.menu__link:focus:before, 
.menu__link:active:before {
  top: -8px;
  right: -22px;
  bottom: -8px;
  left: -22px;
}
.menu__link:active{
	color: #D6D6D6;
}
.header__text{
	max-width: 580px;
	margin: 0 auto;
	text-align: center;
}
.header__title{
	font-family: "ProximaNova-Bold";
	color: #fff;
	font-size: 48px;
	line-height: 1.6;
}
.header__desc{
	margin-bottom: 60px;
}
.header__desc p{
	color: rgba(255, 255, 255, .3);
	line-height: 1.5;
}
.header__btn{
	margin-right: 20px;
}
.btn{
	line-height: 2;
	display: inline-block;
	padding: 8px 52px;
	font-family: "ProximaNova-Light";
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 30px;
	transition: all .4s ease-in;
}
.btn:hover{
	color: #D9D9D9;
  box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, .4);
}
.btn--theme_light{
	background-color: #fff;
	color: #d32721;
}
.btn--theme_light:hover{
	color: #BA221D;
	background-color: #D9D9D9;
	text-decoration: none;
	border: 1px solid #D9D9D9;
}
.btn--size-medium{
	padding: 8px 42px;
}
.header__play-icon{
	vertical-align: middle;
	position: relative;
	top: -2px;
	right: 19px;
	fill: #fff;
	height: 25px;
	width: 22px;
}
.scroll-down__link{
	padding-top: 60px;	
	position: absolute;
  bottom: 180px;
  left: 50%;
  display: inline-block;
  font-family: "ProximaNova-Light";
  transform: translateX(-50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scroll-down__link:hover{
	opacity: .5;
}
.scroll-down__icon {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
.scroll-down__icon::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


@media only screen and (max-width: 992px){
  .menu__item{
    margin-right: 25px;
  }
}
@media only screen and (max-width: 790px){
  .header__wrap{
    margin-bottom: 130px;
  }
  .menu{
    justify-content: center;
  }
  .header__title{
    font-size: 40px;
  }
  .header__desc{
    margin-bottom: 30px;
  }
  .header__desc p{
    font-size: 16px;
  }
  .scroll-down__link{
    bottom: 380px;
  }
  .scroll-down__link{
    bottom: 20px;
  }
  .header__wrap{
    /* position: fixed; */
    z-index: 99;

  }
  .menu__link:before,
  .menu__link:hover:before{
      display: none;
  }
  .menu__link{
    border-bottom: 2px transparent #fff;
    display: inline-block;
    transition: all .3s ease;
  }
  .menu__link:hover{
    border-bottom: 2px solid #fff;
  }
  .menu{
    display: flex;
    flex-flow: column wrap;
    display: none;
    background: rgba(240, 87, 40, .4);
  }
  .menu__item{
    margin-right: 0;
    padding: 5px 0;
  }
  .header__wrap{
    justify-content: space-between;
   
  }
  .header__logo{
    padding-top:5px;
    flex-basis: 30%;
  }
  .mobile-menu{
		display: block;
		position: fixed;
		top: 5px;
		right: 13px;
    z-index: 10;
    /* border: 1px solid red; */
		/* flex-basis: 15%; */
	}
	.mobile-menu__btn{
	display: block;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 12px 3px rgba(255, 255, 255, .3);
	}
	.mobile-menu__btn span,
	.mobile-menu__btn span:before,
	.mobile-menu__btn span:after{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 20px;
		height: 2px;
		margin-top: -1px;
		margin-left: -10px;
		background-color: #222;
	}
	.mobile-menu__btn span:before,
	.mobile-menu__btn span:after{
		content: "";
		display: block;
		transition: .3s linear;
	}
	.mobile-menu__btn span:before{
		transform: translateY(-5px);
	}
	.mobile-menu__btn span:after{
		transform: translateY(5px);
	}
	.mobile-menu__btn--active span{
		height: 0;
	}
	.mobile-menu__btn--active span:before{
		transform: rotate(45deg); 

	}
	.mobile-menu__btn--active span:after{
		transform: rotate(-45deg);
	}
}
@media only screen and (max-width: 610px){
  .header__logo{
    flex-basis: 30%;
  }
  .header__wrap{
    justify-content: space-between;
  }
  .header__link{
    font-size: 30px;
  }
  .header__title{
    font-size: 25px;
    margin-bottom: 10px;
  }
  .header__wrap{
    margin-bottom: 100px;
  }
  .buttons .btn{
    display: block;
    max-width: 207px;
    margin: 30px auto;
  }
  .header__text{
    display: flex;
    flex-direction: column;
  }
  
}