.our-drones{
	position: relative;
	background: #f6f6f6;
	/*background: #7f8c8d;*/
	min-height: 760px;
}
.our-drones__desc{
	font-size: 18px;
	line-height: 36px;
	color: #5e6372;
	margin-bottom: 50px;
}

.our-drones__item{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	/*border: 1px solid red;*/
}
.our-drones__item:nth-child(2n){
	display: flex;
	flex-flow: row-reverse nowrap;
}
.our-drones__video-wrap{
	/*border: 1px solid blue;*/
	flex-basis: 50%;
	/*padding-top: 100px;*/
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}	
.our-drones__video{
	/*max-width: 500px;*/
	/*height: 50vh;*/
	/*width: 50vw;*/
	/*object-fit: fill;*/
	/*object-fit: cover;*/
	/*background: transparent url('video-image.jpg') 50% 50% / cover no-repeat ;*/
}
.plyr__control--overlaid{
	background: rgba(255,255,255,.1);
	border: 1px solid #fff;
}
.plyr__poster{
	background-size: cover;
}
.our-drones__content{
	/*padding-top: 170px;*/
	/*padding-bottom: 180px;*/
	/*border: 1px solid yellow;*/
	flex-basis: 45%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
}
.our-drones__btn{
	margin-bottom: 30px;
}