.our-drones{
	position: relative;
	background: #f6f6f6;
	min-height: 760px;
}
.our-drones__desc{
	font-size: 18px;
	line-height: 36px;
	color: #5e6372;
	margin-bottom: 50px;
}
.our-drones__item{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.our-drones__item:nth-child(2n){
	display: flex;
	flex-flow: row-reverse nowrap;
}
.our-drones__video-wrap{
	flex-basis: 50%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	
}	
.our-drones__video{
	/* max-width: 500px;*/
	/*height: 50vh;*/
	/*width: 50vw;*/
	/*object-fit: fill;*/
	/*object-fit: cover;*/
	/*background: transparent url('video-image.jpg') 50% 50% / cover no-repeat ; */
}
.plyr__control--overlaid{
	background: rgba(255,255,255,.1);
	border: 1px solid #fff;
}
.plyr__poster{
	background-size: cover;
}
.our-drones__content{
	flex-basis: 45%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: center;
}
.our-drones__btn{
	margin-bottom: 30px;
}

@media only screen and (max-width: 992px){
	.our-drones__item,
	.our-drones__item:nth-child(2n){
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.our-drones__content{
		order: -1;
	}
	.our-drones__content{
		justify-content: center;
		max-width: 800px;
	}
	.our-drones__video-wrap{
		max-width: 800px;
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 790px){
	.our-drones__title{
		font-size: 40px;
	}
	.our-drones__desc{
		font-size: 16px;
	}
}
@media only screen and (max-width: 610px){
	.our-drones__title{
		font-size: 30px;
	}
	.btn--theme_blue{
		font-size: 16px;
		padding: 6px 42px;
	}
}