/*==========  Desktop First  ==========*/

/* ------------ < 1200px ------------ */

@media (max-width: $bp-extra-large) {
}
/* ------------ < 992px ------------ */

@media (max-width: $bp-large) {
  .header {
    &__title {
      font-size: rem(55px);
    }
    &__subtitle {
      font-size: rem(22px);
      margin-bottom: rem(65px);
    }
  }
  .main-nav {
    &__item:not(:last-child) {
      margin-right: rem(20px);
    }
  }
  .features {
    &__item {
      @include size(12, 6, 60px);
      max-width: rem(320px);
      // flex-basis: 45%;
    }
  }
  .work {
    &__item {
      @include size(12, 6, 0px);
    }
  }
  .team {
    &__item {
      text-align: center;
      @include size(12, 6, 30px);
      margin-bottom: rem(30px);
    }
    &__img {
      margin: rem(0 auto 15px);
    }
  }
  .testimonials {
    &__description {
      font-size: rem(25px);
    }
  }
}

/* ------------ < 768px ------------ */

// < 768px
@media (max-width: $bp-medium) {
  .main-nav {
    display: none;
  }
  .header {
    &__toggle-menu {
      display: block;
    }
    &__title {
      font-size: rem(45px);
    }
    &__subtitle {
      font-size: rem(20px);
    }
  }
  .features {
    padding: rem(60px 0 30px);
  }
  .work {
    &__item {
      @include size(12, 6, 0px);
    }
  }
  .team {
    &__item {
      @include size(12, 10, 30px);
    }
  }
  .testimonials {
    &__text {
      @include size(12, 12, 0px);
    }
    &__img {
      @include size(12, 12, 0px);
    }
  }
}
/* ------------ < 576px ------------ */

// < 576px
@media (max-width: $bp-small) {
  .header {
    &__title {
      font-size: rem(35px);
    }
    &__subtitle {
      font-size: rem(20px);
    }
  }
  .features {
    &__item {
      max-width: rem(320px);
      @include size(12, 12, 60px);
      // flex-basis: 100%;
    }
    // &__item:nth-child(n + 4) {
    //   margin-bottom: rem(40px);
    // }
  }
  .work {
    &__item {
      @include size(12, 12, 0px);
    }
  }
  .testimonials {
    &__description {
      font-size: rem(20px);
    }
  }
}

// /*==========  Mobile First  ==========*/

// /* ------------ < 576px------------ */

// @media (min-width: $bp-small) {
// }

// /* ------------ < 768px------------ */

// @media (min-width: $bp-medium) {
// }

// /* ------------ < 992px------------ */

// @media (min-width: $bp-large) {
// }

// /* ------------ < 1200px ------------ */

// @media (min-width: $bp-extra-large) {
// }

/* ------------ MEDIA FAQ ------------ */

/*==========  Desktop First  ==========*/

// // ≥1200px
// @include media-breakpoint-down(lg) {

// }

// // ≥992px
// @include media-breakpoint-down(md) {

// }

// // ≥768px
// @include media-breakpoint-down(sm) {

// }

// // ≥576px
// @include media-breakpoint-down(xs) {

// }

// // Экстрамалые девайсы («телефоны», < 576px)
// @media (max-width: 576px) { ... }

// // Малые девайсы («ландшафтные», < 768px)
// @media (max-width: 768px) { ... }

// // Средние девайсы («таблетки», < 992px)
// @media (max-width: 992px) { ... }

// // Большие девайсы (большие десктопы, < 1200px)
// @media (max-width: 1200px) { ... }

/*==========  Mobile First  ==========*/

// // ≤576px
// @include media-breakpoint-up(sm) {

// }

// // ≤768px
// @include media-breakpoint-up(md) {

// }

// // ≤992px
// @include media-breakpoint-up(lg) {

// }

// // ≤1200px
// @include media-breakpoint-up(xl) {

// }

//  **********

// // Малые девайсы («ландшафтные телефоны», >= 576px)
// @media (min-width: 576px) { ... }

// // Средние девайсы («таблетки», >= 768px)
// @media (min-width: 768px) { ... }

// // Большие девайсы (десктопы, >= 992px)
// @media (min-width: 992px) { ... }

// // Экстрабольшие девайсы (большие десктопы, >= 1200px)
// @media (min-width: 1200px) { ... }

/*==========  OTHER  ==========*/

// @include media-breakpoint-only(xs) { ... }
// @include media-breakpoint-only(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-only(lg) { ... }
// @include media-breakpoint-only(xl) { ... }

// Экстрамалые девайсы («портретные телефоны», < 576px)
// @media (max-width: 575.98px) { ... }

// // Малые девайсы («ландшафтные», >= 575px)
// @media (min-width: 576px) and (max-width: 767.98px) { ... }

// // Средние девайсы («таблетки», >= 768px)
// @media (min-width: 768px) and (max-width: 991.98px) { ... }

// // Большие девайсы (большие десктопы, >= 992px)
// @media (min-width: 992px) and (max-width: 1199.98px) { ... }

// // Большие девайсы (большие десктопы, >= 1200px)
// @media (min-width: 1200px) { ... }
