/*==========  Desktop First  ==========*/

// ≥992px
@media only screen and (max-width : $bp-large-2) {
	.field{

		&__button{
			width: 180px;
		}
	}
	.works{
		&__details{
			padding: 0 25px;
		}
	}
	.details{
		&__title{
			font-size: 20px;
		}
		&__button{
			width: 180px;
		}
	}
	.slick-prev,
	.slick-next{
		top: 40%;
	}
	.slick-prev{
		left: -5px;
	}
	.slick-next{
		right: -5px;
	}
}

// ≥768px
@media only screen and (max-width : $bp-medium) {
	.menu-button{
		&__text{
			display: none;
		}
	}
	.header{
		&__title{
			font-size: 50px;
		}
		&__description{
			font-size: 20px;
		}
	}
	.button{
		width: 180px;
	}
	.about{

		&__item{
			flex-basis: 45%;
		}
	}
	.field{

		&__button{
			font-size: 14px;
		}
		&__email{
			margin-right: 15px;
			width: 60%;
		}
	}
	.works{
		&__item{
			flex-basis: 48%;
		}
	}
	.details{
		&__button{
			font-size: $font-size-secondary;
		}
	}
	.slider{
		&__text{
			font-size: 20px;
		}
	}
	.slick-prev,
	.slick-next{
		top: 15%;
	}
	.slick-prev{
		left: 10%;
	}
	.slick-next{
		right: 10%;
	}
	.team{

		&__info-wrap{
			margin-bottom: 20px;
		}
	}
	.slick-dots{
		bottom: -60px;
	}
	.information{

		&__social-list{
			justify-content: center;
		}
	}
	.contacts{

		&__wrap{
			flex-direction: column;
			justify-content: center;
		}
		&__left{
			margin-bottom: 50px;
		}
	}
	.button{

		&_size--large{
			width: 100%;
		}
	}
	
	
}

// ≥576px
@media only screen and (max-width : $bp-small-3) {
	.menu-list{
		&__item{
			margin-bottom: 30px;
		}
		&__link{
			font-size: 25px;
		}
	}
	.social-list{
		&__icon{
			width: 35px;
			height: 35px;
		}
	}
	.header{
		&__title{
			font-size: 28px;
		}
		&__description{
			font-size: 16px;
			margin-bottom: 40px;
		}
	.button{
		&--head{
			margin: 15px auto;
			display: block;
			width: 160px;
			font-size: 14px;
			}
		}
	}
	.about{
		&__item{
			flex-basis: 100%;
		}
	}
	.field{
		&__email{
			width: 100%;
		}
	}
	.section-title{
		font-size: $font-size-extra;
	}
	.works{
		padding: 50px 0px;
		&__item{
			flex-basis: 100%;
		}
		&__details{
			padding: 0 50px;
		}
		&__button{
			margin-top: 20px;
		}
	}
	.slider{
		&__text{
			font-size: 18px;
		}
	}
	.team{
		padding: 50px 0px;
	}
	.information{

		&__info{
			padding-left: 80px;
		}
		&__schedule{
			padding-left: 80px;
		}
	}
}

