/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    // margin-right: 30px;
    // margin-left: 30px;
    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    
    &:focus{
        outline: none;
    }
    img {
        display: inline-block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }
    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

// Default Variables
// @charset "UTF-8";
// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"

$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    border: 0;
    color: transparent;
    font-size: 0;
    width: 21px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: .6;
    transition: all .3s ease-in;

    &:focus{
        outline: none;
    }
    &:hover{
        opacity: 1;
        cursor: pointer;
    }
}

.slick-prev{
    background: url(../img/icons/arrow_left.svg) no-repeat;
    background-position: center;
    background-size: contain;
    left: -80px;
    z-index: 1;
}

.slick-next{
    background: url(../img/icons/arrow_right.svg) no-repeat;
    background-position: center;
    background-size: contain;
    right: -80px;
    z-index: 1;
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 100px;
}

.slick-dots {
    position: absolute;
    bottom: -90px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        margin: 0 10px;
        padding: 0;
        cursor: pointer;
        button {
            width: 15px;
            height: 15px;
            background-color:#7B7F84;
            border-radius: 50%;
            opacity: .7;
            transition: all .3s ease;
            font-size: 0;
            color: transparent;
            border: 0;
            padding: 0;

            &:hover{
                cursor: pointer;
                opacity: 1;
            }

            &:hover, &:focus {
                outline: none;
            }
        }
        &.slick-active button{
        background-color: #f7600e;
        opacity: 1;
        }
    }
}
