.main-nav {
  line-height: 1;
  &__toggle-icon {
    display: inline-block;
    cursor: pointer;
    width: rem(25px);
    height: rem(20px);
    fill: $white;
  }
  &__list {
    display: none;
  }
  &__item {
  }
  &__item:not(:last-child) {
    margin-right: rem(10px);
  }
  &__link {
    display: flex;
    align-items: center;
    font-size: rem(22px);
    line-height: 1.5;
    color: $white;
    text-transform: uppercase;
  }
  &__link-icon {
    @include same-size(rem(25px));
    fill: $white;
    vertical-align: middle;
  }
  &__link-text {
    margin-left: rem(10px);
  }
}
